.footer {
  height: 100px;
  background-color: $secondary-background-color;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 14px;
  color: $footer-text-color;
}

.copyright {
  margin-bottom: 10px;
}

.developers {
  @media screen and (min-width: 768px) {
    margin-left: 4px;
  }
}
.team-credits {
  text-decoration: underline;
  color: $footer-text-color;
}
