.movies-list {
    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 60px;
      padding-bottom: 60px;
    }
}

.movies-list__item {
    @media screen and (min-width: 768px) {
      width: calc((100% - 2 * 30px)/2);
      margin: 15px;
    }

    @media screen and (min-width: 1024px) {
      width: calc((100% - 3 * 30px)/3);
      margin: 15px;
    }
}
.movies-list__item:not(:last-child) {
    margin-bottom: 20px;
    
        @media screen and (min-width: 768px) {
          margin-bottom: 0px;
        }
}

.movies-list__image {
    margin-bottom: 10px;
    border-radius: 5px;
}

.movies-list__title {
    margin-bottom: 5px;
    color: $primary-text-color;
    text-transform: uppercase;
}

.movies-list__description {
    color: $accent-text-color;
}