.movies-gallery {
  padding-bottom: 40px;

  @media screen and (min-width: 768px) {
    padding-bottom: 60px;
  }
}

.movies-list {
  padding-top: 20px;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    margin-bottom: 50px;
  }
}

.movies-list__item {
  margin: 0 0 20px 0;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1024px) {
    width: calc((100% - 3 * 30px) / 3);
    margin: 15px;
  }
}

.movies-list__item:last-child {
  margin: 0px;

  @media screen and (min-width: 768px) {
    margin: 15px;
  }
}

.movies-list__link {
  display: block;
}

.movies-list__image {
  margin-bottom: 10px;
  border-radius: 5px;
  aspect-ratio: 1/1.5;
}

.movies-list__title {
  margin-bottom: 5px;
  color: $primary-text-color;
  text-transform: uppercase;
}
.movie-details {
  display: flex;
}

.movies-list__description {
  color: $accent-text-color;
  &:not(:last-child) {
    margin-right: 5px;
  }
  &:after {
  }
}

.votes {
  padding: 0 5px;
  background-color: $accent-text-color;
  border-radius: 5px;
  color: $secondary-text-color;
}
