.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.team-modal__backdrop.show-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

.modal {
  margin: 20px;
  padding: 20px 40px;
  // transform: translate(-50%, -50%);

  // width: 80vw;
  // height: 80vw;
  overflow-y: scroll;

  background-color: $secondary-background-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  //   transition: transform $trans-duration $timing-func;

  @media (min-width: 786px) {
    width: 620px;
    min-height: 560px;
  }
  @media screen and (min-width: 1280px) {
    width: 880px;
    height: 570px;
  }
}

// .backdrop.show-modal .modal {
//   transform: translate(-50%, -50%) scale(0.5);
// }

// .icon-close {
//   position: absolute;

//   top: 7px;
//   right: 9px;

//   width: 30px;
//   height: 30px;
//   border: none;
//   //   border-radius: 50%;
//   //   //   @include border(rgba(0, 0, 0, 0.1));
//   fill: black;
//   background-color: transparent;

//   cursor: pointer;

//   //   transition: fill $trans-duration $timing-func;

//   &:hover,
//   &:focus {
//     // fill: $accent-color;
//   }
// }

.team-modal_title {
  background-color: $primary-text-color;
  height: 100px;
  margin: 0;
  padding-top: 20px;
  color: $secondary-text-color;
}

.team-modal__header {
  text-align: center;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
}
.team-modal__subheader {
  text-align: center;
  font-size: 16px;
  color: $secondary-text-color;
}
.team-modal__subheader a {
  color: $secondary-text-color;
}

.team {
  padding: 20px;
  text-align: center;
  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;

    margin: 30px -15px -15px;
  }
}
.team__item {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  //   background-color: $secondary-color;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @media (min-width: 768px) {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
}

.team__picture {
  margin-left: auto;
  margin-right: auto;
}
.team__wrapper {
  padding-top: 30px;
  padding-bottom: 24px;
}

.team__name,
.team__profession {
  text-decoration: none;
  color: $footer-text-color;
}
