@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
body {
  font-family: "Roboto", "sans-serif";
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  color: #000000;
  background-color: #ffffff;
}

h1,
h2,
h3,
p,
ul,
a {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  min-width: 320px;
  max-width: 480px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-left: 76px;
    padding-right: 76px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    min-width: 1024px;
    padding-left: 71px;
    padding-right: 71px;
  }
}

.header {
  height: 230px;
  padding-top: 50px;
  background-color: #000000;
}

.top-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  margin-bottom: 50px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  display: none;
  font-size: 30px;
  color: #ffffff;
  padding-top: 5px;
  margin-left: 15px;
}

@media screen and (min-width: 768px) {
  .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  padding-top: 10px;
}

.navigation__link {
  position: relative;
  text-transform: uppercase;
  color: #ffffff;
}

.navigation__link:first-of-type {
  margin-right: 40px;
}

.current::after {
  color: #ff6b08;
  content: '';
  display: block;
  position: absolute;
  bottom: -4px;
  left: 0;
  background-color: #ff6b08;
  width: 100%;
  height: 3px;
}

.search__input {
  font-size: 14px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #ffffff;
  width: 320px;
}

@media screen and (min-width: 768px) {
  .search__input {
    width: 340px;
  }
}

::-webkit-input-placeholder {
  font-size: 14px;
  color: #ffffff;
}

:-ms-input-placeholder {
  font-size: 14px;
  color: #ffffff;
}

::-ms-input-placeholder {
  font-size: 14px;
  color: #ffffff;
}

::placeholder {
  font-size: 14px;
  color: #ffffff;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.search__button {
  background-color: transparent;
  border: none;
  right: 0;
}

.movies-list {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .movies-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .movies-list__item {
    width: calc((100% - 2 * 30px)/2);
    margin: 15px;
  }
}

@media screen and (min-width: 1024px) {
  .movies-list__item {
    width: calc((100% - 3 * 30px)/3);
    margin: 15px;
  }
}

.movies-list__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .movies-list__item:not(:last-child) {
    margin-bottom: 0px;
  }
}

.movies-list__image {
  margin-bottom: 10px;
  border-radius: 5px;
}

.movies-list__title {
  margin-bottom: 5px;
  color: #000000;
  text-transform: uppercase;
}

.movies-list__description {
  color: #ff6b08;
}

.footer {
  height: 100px;
  background-color: #f7f7f7;
  padding-top: 30px;
  padding-bottom: 30px;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
  color: #545454;
}

.copyright {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .developers {
    margin-left: 4px;
  }
}

.team {
  text-decoration: underline;
  color: #545454;
}
/*# sourceMappingURL=main.css.map */