<header class="header">
      
 <div class="container">
    <nav class="header_box">
        <a class="header_logo_box" href="index.html" id="logo">
          <svg class="header_logo_svg" width="24" height="24">
            <use href="/images/symbol-defs.svg#icon-film"></use>
          </svg>
          <p class="title">Filmoteka</p>
        </a>

          <nav class="navigation">
            <div class="navigation__home navigation__btn">
              <a href="index.html" class="navigation__link current" id="home">Home</a>
            </div>
            <div class="navigation__library navigation__btn">
              <a href="#" class="navigation__link" id="library">My Library</a>
            </div>
            <div class="navigation__autorization navigation__btn is-hidden">
              <a href="#" class="navigation__link"> Sign in</a>
            </div>
          </nav>
     </nav>
        <div class="search">

          <form action="#" class="search__form" id="search">

<div class="search__form__box">
       <input 
       class="search__input" 
       type="text" 
       name="search" 
       placeholder="Search movies"
        />
 

  <button class="search__button" type="submit">
    <svg class="search__svg"width="14" height="14">
            <use href="/images/symbol-defs.svg#icon-search-2"></use>
          </svg></button>
          <span class="search__form__after"></span>
        </div>
        </form>   

</div>

<div class="theme-switch">
  <!-- <svg class="theme-switch__icon icon-sun" role="img" aria-label="Иконка солнца">
    <use href="./images/sprite.svg#sun"></use>
  </svg> -->
  <div class="theme-switch__control">
    <input class="theme-switch__toggle" type="checkbox" name="theme" id="theme-switch-toggle"
      aria-label="Переключить между тёмной и светлой темой" />
    <label aria-hidden="true" class="theme-switch__track" for="theme-switch-toggle"> </label>
    <div aria-hidden="true" class="theme-switch__marker"></div>
  </div>

  <!-- <svg class="theme-switch__icon icon-moon" aria-label="Иконка луны">
    <use href="./images/sprite.svg#moon"></use>
  </svg> -->
</div>

<!-- <p class="notify-text no-success"></p>
<p class="notify-text success"></p> -->

<div class="library-filter" >

  <a href="#" class="library-button watched-link is-hidden">Watched</a>

  <a href="#" class="library-button queue-link is-hidden">Queue</a>
</div>

</header>