<div class="team-modal__backdrop backdrop js-backdrop is-hidden" data-action="backdrop-team">
  <div class="team-modal modal">
    <button class="close-modal__btn" data-action="close-modal__team" type="button">
      
      <svg class = "icon-close" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close-1"></use>
      </svg>
    </button>
    <div class="team-modal__title-box">
      <h2 class="team-modal__title">Digital Unicorns group by <a href="https://goit.ua/">GoIT</a></h2>
    </div>

    <ul class="team__list">

      <li class="team__item">
        <!-- <picture>
                <source
                  srcset="images/team/team1-mobile.jpg 1x, images/team/team1-mobile@2x.jpg 2x"
                  media="(max-width:767px)"
                />
                <source
                  srcset="images/team/team1-tablet.jpg 1x, images/team/team1-tablet@2x.jpg 2x"
                  media="(min-width:768px)"
                />
                <source
                  srcset="images/team/team1-desctop.jpg 1x, images/team/team1-desctop@2x.jpg 2x"
                  media="(min-width:1200px)"
                />
                <img src="images/team/team1-mobile.jpg" alt="мужчина в рубашке и очках" />
              </picture> -->
        <ul class="team__task-list">
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.
          </li>
          <li class="team__task">
            Lorem ipsum dolor sit amet.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.</li>
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
        </ul>      
        <img class="team__picture" width="220" src="./images/team/unicorn.jpg" alt="dancing unicorn" />
        <div class="team__wrapper">
          <h3 class="team__name">Daria</h3>
          <p class="team__profession">Team Lead</p>
        </div>
        <a href="https://github.com/dariaddz" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="team__item">
        <ul class="team__task-list">
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.
          </li>
          <li class="team__task">
            Lorem ipsum dolor sit amet.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.</li>
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
        </ul>
        <img class="team__picture" width="220" src="./images/team/unicorn.jpg" alt="dancing unicorn" />
        <div class="team__wrapper">
          <h3 class="team__name">Sergii</h3>
          <p class="team__profession">Scrum Master</p> 
        </div>
        <a href="https://github.com/SergiusNahnoinyi" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="team__item">

        <ul class="team__task-list">
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.
          </li>
          <li class="team__task">
            Lorem ipsum dolor sit amet.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.</li>
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
        </ul>

        <img class="team__picture" width="220" src="./images/team/unicorn.jpg" alt="dancing unicorn" />
        
        <div class="team__wrapper">
          <h3 class="team__name">Anna</h3>
          <p class="team__profession">Developer</p>
        </div>
        <a href="https://github.com/annasemenuyk" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="team__item">

        <ul class="team__task-list">
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.
          </li>
          <li class="team__task">
            Lorem ipsum dolor sit amet.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.</li>
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
        </ul>

        <img class="team__picture" width="220" src="./images/team/unicorn.jpg" alt="dancing unicorn" />
        <div class="team__wrapper">
          <h3 class="team__name">Eduard</h3>
          <p class="team__profession">Developer</p>
        </div>
        <a href="https://github.com/901Eduard901" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="team__item">

        <ul class="team__task-list">
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.
          </li>
          <li class="team__task">
            Lorem ipsum dolor sit amet.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.</li>
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
        </ul>

        <img class="team__picture" width="220" src="./images/team/unicorn.jpg" alt="dancing unicorn" />
        <div class="team__wrapper">
          <h3 class="team__name">Olena</h3>
          <p class="team__profession">Developer</p>
        </div>
        <a href="https://github.com/LenaCScheper" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="team__item">

        <ul class="team__task-list">
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.
          </li>
          <li class="team__task">
            Lorem ipsum dolor sit amet.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.</li>
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
        </ul>

        <img class="team__picture" width="220" src="./images/team/unicorn.jpg" alt="dancing unicorn" />
        <div class="team__wrapper">
          <h3 class="team__name">Stepan</h3>
          <p class="team__profession">Developer</p>
        </div>
        <a href="https://github.com/ulmerstepan" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>

      <li class="team__item">

        <ul class="team__task-list">
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.
          </li>
          <li class="team__task">
            Lorem ipsum dolor sit amet.
          </li>
          <li class="team__task">
            Lorem, ipsum dolor.</li>
          <li class="team__task">
            Lorem ipsum dolor sit.
          </li>
        </ul>

        <img class="team__picture" width="220" src="./images/team/unicorn.jpg" alt="dancing unicorn" />
        <div class="team__wrapper">
          <h3 class="team__name">Yevhen</h3>
          <p class="team__profession">Developer</p>
        </div>
        <a href="https://github.com/YevgeniyPanchenko" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
    </ul>





  </div>
</div>