<div class="team-modal__backdrop backdrop js-backdrop" data-action="backdrop-team">
  <div class="team-modal modal">
    <button class="close-modal__btn" data-action="close-modal" type="button">
      close
      <!-- <svg width="30" height="30">
        <use href="./images/symbol-defs.svg#icon-close-1"></use>
      </svg> -->
    </button>
    <div class="team-modal_title">
      <h2 class="team-modal__header">Digital Unicorns group</h4>
      <h4 class="team-modal__subheader">by <a href="https://goit.ua/">GoIT</a></h5>
    </div>

    <ul class="team">
         
      <li class="team__item">
              <!-- <picture>
                <source
                  srcset="images/team/team1-mobile.jpg 1x, images/team/team1-mobile@2x.jpg 2x"
                  media="(max-width:767px)"
                />
                <source
                  srcset="images/team/team1-tablet.jpg 1x, images/team/team1-tablet@2x.jpg 2x"
                  media="(min-width:768px)"
                />
                <source
                  srcset="images/team/team1-desctop.jpg 1x, images/team/team1-desctop@2x.jpg 2x"
                  media="(min-width:1200px)"
                />
                <img src="images/team/team1-mobile.jpg" alt="мужчина в рубашке и очках" />
              </picture> -->
              <a href="https://dariaddz.github.io/DigitalUnicorns-Filmoteka/" class="team__link">
              <img class="team__picture"
              width="220"               
                src="./images/team/unicorn.jpg"
                alt="dancing unicorn"
              />
              <div class="team__wrapper">
                <h3 class="team__name">ФИО участника</h3>
                <p class="team__profession">роль в команде</p>
                                      
                
              </div>
              </a>
            </li> 
            <li class="team__item">
           
                <a href="https://dariaddz.github.io/DigitalUnicorns-Filmoteka/" class="team__link">
              <img class="team__picture"
              width="220"               
                src="./images/team/unicorn.jpg"
                alt="dancing unicorn"
              />
              <div class="team__wrapper">
                <h3 class="team__name">ФИО участника</h3>
                <p class="team__profession">роль в команде</p>
                                      
                
              </div></a>
            </li> 
            <li class="team__item">
             <a href="https://dariaddz.github.io/DigitalUnicorns-Filmoteka/" class="team__link">
              <img class="team__picture"
              width="220"               
                src="./images/team/unicorn.jpg"
                alt="dancing unicorn"
              />
              <div class="team__wrapper">
                <h3 class="team__name">ФИО участника</h3>
                <p class="team__profession">роль в команде</p>
                                      
                
              </div></a>
            </li> 
            <li class="team__item">
               <a href="https://dariaddz.github.io/DigitalUnicorns-Filmoteka/" class="team__link">
              <img class="team__picture"
              width="220"               
                src="./images/team/unicorn.jpg"
                alt="dancing unicorn"
              />
              <div class="team__wrapper">
                <h3 class="team__name">ФИО участника</h3>
                <p class="team__profession">роль в команде</p>
                                      
                
              </div></a>
            </li> 
             <li class="team__item">
               <a href="https://dariaddz.github.io/DigitalUnicorns-Filmoteka/" class="team__link">
              <img class="team__picture"
              width="220"               
                src="./images/team/unicorn.jpg"
                alt="dancing unicorn"
              />
              <div class="team__wrapper">
                <h3 class="team__name">ФИО участника</h3>
                <p class="team__profession">роль в команде</p>
                                      
                
              </div></a>
            </li> 
             <li class="team__item">
               <a href="https://dariaddz.github.io/DigitalUnicorns-Filmoteka/" class="team__link">
              <img class="team__picture"
              width="220"               
                src="./images/team/unicorn.jpg"
                alt="dancing unicorn"
              />
              <div class="team__wrapper">
                <h3 class="team__name">ФИО участника</h3>
                <p class="team__profession">роль в команде</p>
                                      
                
              </div></a>
            </li> 
    </ul>


       


  </div>
</div>
