<div class="team-modal__backdrop backdrop js-backdrop is-hidden" data-action="backdrop-team">
  <div class="team-modal modal">
    <button class="close-modal__btn" data-action="close-modal__team" type="button">
      <svg class="icon-close" width="14" height="14">
        <use href="./images/symbol-defs.svg#icon-close-1"></use>
      </svg>
    </button>
    <div class="team-modal__title-box">
      <h2 class="team-modal__title">
        Digital Unicorns group by <a href="https://goit.ua/">GoIT</a>
      </h2>
    </div>

    <ul class="team__list">
      <li class="team__item">
        <!-- <picture>
                <source
                  srcset="images/team/team1-mobile.jpg 1x, images/team/team1-mobile@2x.jpg 2x"
                  media="(max-width:767px)"
                />
                <source
                  srcset="images/team/team1-tablet.jpg 1x, images/team/team1-tablet@2x.jpg 2x"
                  media="(min-width:768px)"
                />
                <source
                  srcset="images/team/team1-desctop.jpg 1x, images/team/team1-desctop@2x.jpg 2x"
                  media="(min-width:1200px)"
                />
                <img src="images/team/team1-mobile.jpg" alt="мужчина в рубашке и очках" />
              </picture> -->
        <ul class="team__task-list">
          <li class="team__task"><span class="technology">HTML, CSS & JS</span> for Page header</li>
          <li class="team__task">
            <span class="technology">HTML & CSS </span>basic markup for web-page
          </li>
          <li class="team__task">
            <span class="technology">JS</span> for Library rendering (Watched & Queue movies from
            Local Storage)
          </li>
          <li class="team__task">final code refactoring</li>
        </ul>
        <img
          class="team__picture"
          width="220"
          src="./images/team/dasha.jpg"
          alt="dancing unicorn"
        />
        <div class="team__wrapper">
          <h3 class="team__name">Daria</h3>
          <p class="team__profession">Team Lead</p>
        </div>
        <a href="https://github.com/dariaddz" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>

      <li class="team__item">
        <ul class="team__task-list">
          <li class="team__task">
            <span class="technology">HTML&CSS </span>
            for web-page markup
          </li>
          <li class="team__task">
            <span class="technology">HTML, CSS & JS </span>
            for movies gallery rendering
          </li>
          <li class="team__task">
            <span class="technology">HTML, CSS & JS </span>
            for pagination
          </li>
        </ul>
        <img
          class="team__picture"
          width="220"
          src="./images/team/sergii.jpg"
          alt="dancing unicorn"
        />
        <div class="team__wrapper">
          <h3 class="team__name">Sergii</h3>
          <p class="team__profession">Scrum Master</p>
        </div>
        <a href="https://github.com/SergiusNahnoinyi" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="team__item">
        <ul class="team__task-list">
          <li class="team__task">
            <span class="technology">JS </span>
            for Local Storage input
          </li>
          <li class="team__task">
            <span class="technology">HTML, CSS & JS </span>
            for rendering Library, Watched & Queue movies from Local Storage
          </li>
          <li class="team__task">
            <span class="technology">JS </span>
            for switch text content for Watched & Queue buttons
          </li>
        </ul>

        <img class="team__picture" width="220" src="./images/team/anna.jpg" alt="dancing unicorn" />

        <div class="team__wrapper">
          <h3 class="team__name">Anna</h3>
          <p class="team__profession">Developer</p>
        </div>
        <a href="https://github.com/annasemenuyk" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="team__item">
        <ul class="team__task-list">
          <li class="team__task">
            <span class="technology">HTML, CSS & JS </span>
            for one movie modal
          </li>
        </ul>

        <img
          class="team__picture"
          width="220"
          src="./images/team/unicorn.jpg"
          alt="dancing unicorn"
        />
        <div class="team__wrapper">
          <h3 class="team__name">Eduard</h3>
          <p class="team__profession">Developer</p>
        </div>
        <a href="https://github.com/901Eduard901" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="team__item">
        <ul class="team__task-list">
          <li class="team__task">
            <span class="technology">HTML&CSS </span>
            for page header (home and library page — mobile, tablets, desctop)
          </li>
          <li class="team__task">
            <span class="technology">JS </span>
            for “Home”, “Library” or logo buttons - the corresponding page appears
          </li>
          <li class="team__task">
            <span class="technology">JS </span>
            for Home page rendering
          </li>
        </ul>

        <img
          class="team__picture"
          width="220"
          src="./images/team/olena.jpg"
          alt="dancing unicorn"
        />
        <div class="team__wrapper">
          <h3 class="team__name">Olena</h3>
          <p class="team__profession">Developer</p>
        </div>
        <a href="https://github.com/LenaCScheper" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
      <li class="team__item">
        <ul class="team__task-list">
          <li class="team__task">
            <span class="technology">JS </span>
            for rendering one movie modal
          </li>
          <li class="team__task">
            <span class="technology">JS </span>
            for Local Storage input
          </li>
          <li class="team__task">
            <span class="technology">HTML, CSS & JS </span>
            for modal team
          </li>
        </ul>

        <img
          class="team__picture"
          width="220"
          src="./images/team/stepan.jpg"
          alt="dancing unicorn"
        />
        <div class="team__wrapper">
          <h3 class="team__name">Stepan</h3>
          <p class="team__profession">Developer</p>
        </div>
        <a href="https://github.com/ulmerstepan" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>

      <li class="team__item">
        <ul class="team__task-list">
          <li class="team__task">
            <span class="technology">HTML & CSS </span>
            web-page markup
          </li>
          <li class="team__task">
            <span class="technology">JS </span>
            for search movie by name
          </li>
          <li class="team__task">
            <span class="technology">HTML, CSS & JS </span>
            for rendering movies gallary searched by name
          </li>
          <li class="team__task">
            <span class="technology">JS </span>
            notiflix notifications
          </li>
        </ul>

        <img
          class="team__picture"
          width="220"
          src="./images/team/yevhen2.jpg"
          alt="dancing unicorn"
        />
        <div class="team__wrapper">
          <h3 class="team__name">Yevhen</h3>
          <p class="team__profession">Developer</p>
        </div>
        <a href="https://github.com/YevgeniyPanchenko" class="team__link">
          <svg class="icon-github" width="20" height="20">
            <use href="./images/symbol-defs.svg#github"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
